.login-wrangler {
    display: grid;
    grid-column: 1;
}
.login {
    align-self: center;
    /* justify-content: center; */
    left: 40%;
    width: 100%;
    position: absolute;
    /* background: url("../images/titorlogo.png") center top no-repeat; */
}

.logo {
    display: flex;
    align-self: center;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px rgb(255, 238, 0),      /* inner white */
        inset 20px 0 80px rgb(255, 136, 0),   /* inner left magenta short */
        inset -20px 0 80px rgb(140, 0, 255),  /* inner right cyan short */
        inset 400px 0 300px #f0f,  /* inner left magenta broad */
        inset -200px 0 300px rgb(255, 0, 128), /* inner right cyan broad */
        0 0 50px rgb(255, 238, 0),            /* outer white */
        -10px 0 80px rgb(255, 136, 0),        /* outer left magenta */
        10px 0 80px rgb(140, 0, 255);         /* outer right cyan */
    animation: rotate 15s infinite linear normal;
}

.logo-container {
    display: flex;
    align-self: center;
    position: absolute;
    width: 2000px;
    height: 2000px;
    animation: scale 4s  infinite alternate;
}

/* .logo-no-resize-container {
    display: flex;
    overflow: hidden;
} */

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes scale {
    from { transform: scale(100%); }
    to { transform: scale(90%); }
}

.login-button {
    background-color: rgb(255, 8, 0);
}

.login-label {
    font-size: 14pt;
}